html {
    height: 100%;
    width: 100%;
}

td, th{
    border-bottom: 0px !important;
}

body {
    margin: 0;
    display: flow;
    justify-content: center;
}

.bg {
    animation: slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #FFD5BD 50%, #EBBCA2 50%);
    bottom: 0;
    left: -50%;
    opacity: .8;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 8s;
}

.bg3 {
    animation-duration: 9s;
}

.bg4 {
    animation: slide 20s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, #445973 50%, #8294AA 50%);
}

.content {
    background-color: rgba(255,255,255,.8);
    border-radius: .5em;
    box-shadow: 0 0 .25em rgba(0,0,0,.5);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}
