[*.{cs,vb}]

# IDE0003: Usuń kwalifikacje
dotnet_style_qualification_for_method = false

# CS8602: Wyłuskanie odwołania, które może mieć wartość null.
dotnet_diagnostic.CS8602.severity = suggestion

# CS8604: Możliwy argument odwołania o wartości null.
dotnet_diagnostic.CS8604.severity = suggestion
